Repository react-appwrite/react-appwrite, pull requests merged in 2023-03, with the labels that each got.

#8 Rename database service
  README.md
  database.d.ts
  databases.d.ts
  example/app/databases/page.tsx
  package.json
  src/databases/Query.ts
  src/databases/README.md
  src/databases/index.ts
  src/databases/types.ts
  src/databases/useCollection.ts
  src/databases/useDocument.ts
  src/index.tsx
  src/types.ts
Labels: service: databases

#7 Add locale service
  README.md
  example/app/locale/page.tsx
  locale.d.ts
  package.json
  src/index.tsx
  src/locale/README.md
  src/locale/index.ts
  src/locale/types.ts
  src/locale/useContinents.ts
  src/locale/useCountries.ts
  src/locale/useCountriesPhoneCodes.ts
  src/locale/useCurrencies.ts
  src/locale/useLanguages.ts
  src/locale/useLocale.ts
Labels: service: locale

#9 Add database mutations
  example/app/databases/page.tsx
  package-lock.json
  package.json
  src/databases/Query.ts
  src/databases/index.ts
  src/databases/types.ts
  src/databases/useCollection.ts
  src/databases/useDocument.ts
  src/databases/useDocumentDelete.ts
  src/databases/useDocumentUpdate.ts
  src/index.tsx
  src/query.ts
Labels: enhancement, service: databases

#11 Add rimraf
  package-lock.json
  package.json
Labels: enhancement

#12 Fix appwrite cookie name
  src/next/index.ts
Labels: bug

#13 Adding Anonymous Sign Ins
  src/account/README.md
  src/account/index.ts
  src/account/useAnonymousSignIn.ts
Labels: enhancement
